@define-color accent_color #2B3784;
@define-color accent_bg_color #2B3784;

.title-header{
  font-size: 36px;
  font-weight: bold;
}

.return-to-main {
  opacity: 0;
  background: rgba(239, 239, 239, 1);
  border-radius: 50%;
  padding: 1px;
  margin-top: 4px;
  margin-left: 10px;
  transition: 0.1s ease-in-out;
  -gtk-icon-size: 12px;
}

.return-to-main:hover {
  opacity: 1;
}

.webwindow-controls {
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.webwindow-controls button image {
  background: rgba(239, 239, 239, 1);
}

.webwindow-controls:hover {
  opacity: 1;
}

@keyframes screenshot-flash {
  0% {opacity: 0;}
  20% {opacity: 1;}
  100% {opacity: 0;}
}

.screenshot-in-progress {
  background-color: rgb(255,255,255);
  opacity: 0;
  animation-name: screenshot-flash;
  animation-duration: 0.8s;
}
