@define-color accent_color #2B3784;
@define-color accent_bg_color #2B3784;

.title-header{
  font-size: 36px;
  font-weight: bold;
}

.webwindow-close {
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.webwindow-close:hover {
  opacity: 1;
}

@keyframes screenshot-flash {
  0% {opacity: 0;}
  20% {opacity: 1;}
  100% {opacity: 0;}
}

.screenshot-in-progress {
  background-color: rgb(255,255,255);
  opacity: 0;
  animation-name: screenshot-flash;
  animation-duration: 0.8s;
}