@define-color accent_color #447BBE;
@define-color accent_bg_color #447BBE;

  .webwindow-controls button image {
    background: rgba(61, 56, 70, 1);
  }

  @keyframes screenshot-flash {
    0% {opacity: 0;}
    20% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  .screenshot-in-progress {
    background-color: rgb(154,153,150);
    opacity: 0;
    animation-name: screenshot-flash;
    animation-duration: 0.8s;
  }