.title-header{
  font-size: 36px;
  font-weight: bold;
}

/* .webwindow-headerbar {
  opacity: 0;
  min-height: 20px;
}

.webwindow-headerbar:hover {
  opacity: 1;
  min-height: 20px;
} */

.webwindow-close {
  opacity: 0;
  transition: opacity 0.3s;
}

.webwindow-close:hover {
  opacity: 1;
  transition: opacity 0.3s;
}